img {
    width: 100px;
    height: 100px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}

.work-pic {
    width: 296px;
    height: 382px;
}

.developer_image {
    width: 200px;
    height: 150px;
    border-radius: 25px
}